In [13]:
def vol(rad):
    result = (4/3)*3.14*rad**3
    return result

In [14]:
vol(2)

33.49333333333333

In [3]:
def ran_check(num,low,high):

    if num in range(low,high):
        return print('{} is in the range between {} and {}'.
        format(num,low,high))
    else:
        return print('Number not in range')

In [4]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [7]:
def up_low(s):
    
    lowcount = 0
    upcount = 0
    for x in s:
        if x.isupper():
            lowcount += 1
        if x.islower():
            upcount += 1

    output = print('No.of Upper case characters: {}\
                    \nNo. of Lower case characters: {}\
                    '.format(upcount,lowcount))
    
    
    return output

In [8]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

No.of Upper case characters: 33
No. of Lower case characters: 4

In [94]:
def unique_list(lst):
    
    return print(str(set(lst)))

In [95]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [9]:
def multiply(numbers):  
    result = 1
    for x in numbers:
        result *= x
    
    return result

In [10]:
multiply([1,2,3,-4])

-24

In [11]:
def palindrome(s):
    s = s.replace(' ', '')
    return s == s[::-1]

In [12]:
palindrome('madom')

False

In [13]:
def ispangram(str1, alpha = list(map(chr, range(97, 123)))):
    alpha = list(map(chr, range(97, 123)))
    
    str1 = str1.replace(' ', '')
    str1 = str1.lower()
    str1 = set(str1)
    str1 = sorted(str1) # Create list without loop iteration

    if str1 == alpha:
        print('True')
    elif str1 != alpha:
        print('Flase')

In [157]:
ispangram('The quick brown fox jumps over the lazy dog')

True